<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="../Controllers/popup.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>

        <!--        <select id="days">
                </select>


                <div id="result">
                </div>-->
        <div class="container f">
            <div class="header">
                <div class="logo f"><img src="images/logo.png" /></div>
                <div class="clearfix"></div>
            </div>
            <div class="ex-body">
                <select class="f-r">
                    <option>choose</option>
                    <option>yesterday</option>
                    <option>today </option>
                    <option>tomorrow</option>
                </select>
                <div class="clearfix"></div>    
                <h5>
                    <span class="f-r league">الدوري المصري </span>
                    <img src="images/egypt.png" class="f-r" />
                </h5>





                <div class="MatchesList">
                    <div class="list">
                        <div class="teamA f-r ta-l">
                            <a href="">
                                <img alt="" src="http://www.yallakora.com/pictures/TeamLogo/thumb/AlMasry4-10-2011-20-55-51.png" width="25" height="25" class="feature" onerror="javascript:SetNaMatcesImage(this)">
                                المصري</a>
                        </div>
                        <div class="result f-r">
                            0-1
                        </div>
                        <div class="teamB f">
                            <a href="">
                                <img alt="" src="http://www.yallakora.com/pictures/TeamLogo/thumb/Enbbi4-10-2011-20-47-58.png" width="25" height="25" class="feature" onerror="javascript:SetNaMatcesImage(this)">
                                إنبي</a></div>
                        <div class="clearfix">
                        </div>
                        <div class="MatcheInfo">
                            <div class="MatcheInfo_icons">


                                <img src="images/lliveicon.gif"/>

                            </div>
                            <div class="Matche_statues">

                                <a href="">التفاصيل</a>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="clearfix"></div>
        </div>
    </body>
</html>

